@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;

  --xs-width-size: 425px;
  --md-width-size: 768px;
  --lg-width-size: 990px;

  --container-size: 1200px;
  --content-padding-lg: 32px;
  --content-padding-md-xs: 24px;

  --text-color: #263a4f;
  --text-color-light: #fff;
  --text-color-light-grey: #5f7a82;
  --text-brend: #52acfe;
  --text-accent-color: #3e556c;
  --text-info: rgb(162, 200, 237);
  --text-highlite: #991a1a;
  --text-highlite-brend: #072c50;
  --bg-color-btn-primary: #52acfe;
  --bg-color-black: rgb(32, 43, 56);
  --bg-color-white: #ffff;
  --background-dark-color: #e5ecf3;
  --bg-color-btn: #52acfe;
  --border-white: #fff;
  --input-background-color: rgba(38, 58, 79, 0.12);
  --shadow-color: rgba(6, 9, 12, 0.5);
  --bg-color-btn-dark: rgb(0, 0, 0);
  --svg-btn-color: #428acb;

  --grid-gap: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
}

@media (max-width: 989px) {
  .container {
    padding: 0 var(--content-padding-md-xs);
  }
}

@media (min-width: 990px) {
  .container {
    padding: 0 var(--content-padding-lg);
  }
}
