@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;

  --xs-width-size: 425px;
  --md-width-size: 768px; 
  --lg-width-size: 990px;

  --container-size: 1200px;
  --content-padding: 32px;
  
  --text-color: #263a4f;
  --text-color-light: #fff;
  --text-brend: #52acfe;
  --text-accent-color: #3e556c;
  --text-info: rgb(162, 200, 237);
  --bg-color-btn-primary: #52acfe; 
  --background-dark-color: #e5ecf3;
  --input-background-color: rgba(38, 58, 79, 0.12);
  --shadow-color: rgba(6, 9, 12, 0.5);

  --gallery-grid-gap: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 0 var(--content-padding);
}
