.testimonials {
  background: no-repeat 50% 50% / cover
    url(../image/main.testimonials/background.png);
  padding-top: 70px;
  padding-bottom: 85px;

  .testimonials__container {
    text-align: center;
    color: var(--text-color);
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;

    .testimonials__header {
      margin-bottom: 22px;

      .testimonials__title {
        font-size: 30px;
        padding-bottom: 14px;
        overflow-wrap: anywhere;
      }

      .testimonials__title-dots {
        display: flex;
        justify-content: space-between;
        width: 36px;
        height: 5px;
        margin: auto;

        .testimonials__title-dots-decoration {
          background-color: var(--text-brend);
          width: 5px;
        }
      }
    }

    .testimonials__carousel-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 24px;

      .testimonials__buttons {
        margin-bottom: 20px;

        .testimonials__button {
          position: absolute;
          top: 32%;
          transform: translateY(-50%);
          border: none;
          border-radius: 50%;
          background-color: var(--bg-color-btn-dark);
          width: 24px;
          height: 24px;
          padding: 6px;
          cursor: pointer;
          fill: var(--svg-btn-color);

          &:hover {
            opacity: 0.85;
            transition: opacity 0.2s ease-out;
          }
        }

        .testimonials__button-prev {
          left: 0%;
        }

        .testimonials__button-next {
          right: 0%;
        }
      }

      .testimonials__clients {
        max-width: 580px;
        min-height: 311px;

        .testimonials__client {
          display: flex;
          justify-content: normal;
          align-items: center;
          flex-direction: column;
          line-height: 1.5;
          font-size: 16px;

          .client__name {
            font-size: 22px;
            margin-top: 20px;
          }

          .client__image {
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            overflow: hidden;
          }

          .client__image-1 {
            background-image: url(../image/main.testimonials/michael-crabs.jpg);
          }

          .client__image-2 {
            background-image: url(../image/main.testimonials/scott-ridley.jpg);
          }

          .client__image-3 {
            background-image: url(../image/main.testimonials/garry-norris.jpg);
            background-position: 0% 50%;
          }

          .client__text {
            margin-top: 20px;
          }
        }
      }

      .testimonials__carousel-dots {
        display: flex;
        justify-content: space-around;
        width: 76px;
        height: 25px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 24px;
        cursor: pointer;

        .carousel-dot {
          border-radius: 50%;
          background-color: var(--bg-color-btn-primary);
          opacity: 0.25;
          width: 10px;
          height: 10px;

          &:hover {
            transition: opacity 0.2s ease-out;
            opacity: 0.75;
          }
        }

        .active {
          opacity: 0.75;
        }
      }
    }

    .testimonials__footer {
      .testimonials__button-all {
        margin-top: 50px;
        width: 180px;
      }
    }
  }
}

@media (min-width: 767px) {
  .testimonials {
    .testimonials__container {
      .testimonials__header {
        .testimonials__title {
          font-size: 32px;
        }
      }

      .testimonials__carousel-container {
        .testimonials__buttons {
          .testimonials__button {
            width: 32px;
            height: 32px;
          }
        }

        .testimonials__clients {
          .testimonials__client {
            .client__name {
              font-size: 24px;
            }

            .client__image {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .testimonials {
    .testimonials__container {
      .testimonials__header {
        .testimonials__title {
          font-size: 34px;
        }
      }

      .testimonials__carousel-container {
        .testimonials__clients {
          max-width: 740px;
          .testimonials__client {
            .client__name {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  .testimonials {
    .testimonials__container {
      .testimonials__carousel-container {
        .testimonials__buttons {
          .testimonials__button {
            background-color: transparent;
            width: 44px;
            height: 44px;
            padding: 7px;
            fill: var(--bg-color-btn-primary);
            opacity: 0.85;

            &:hover {
              opacity: 1;
              transition: opacity 0.2s ease-out;
            }
          }
        }
      }
    }
  }
}
