.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  .header__logo {
    font-family: "Francois One", sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 20px 0;

    .header__logo-link {
      color: var(--text-color);
      text-decoration: none;
      .header__keys {
        display: flex;
        justify-content: center;

        & kbd {
          font-family: "Francois One", sans-serif;
          font-size: 18px;
        }
      }

      .text-brend {
        & kbd {
          color: var(--text-brend);
        }
        .playing kbd {
          color: var(--text-highlite-brend);
        }
      }
      .playing {
        color: var(--text-highlite);
        font-weight: 900;
      }
    }

    .header__logo-subtext {
      color: var(--text-brend);
    }
  }

  .header__menu-btn {
    display: block;
    width: auto;
    height: auto;
    padding: 19px 8px;
    margin-left: auto;
    cursor: pointer;
    transition: opacity 0.5s ease;
    order: 3;

    .header__menu-btn:hover {
      opacity: 0.6;
    }

    .header__navicon {
      display: block;
      width: 24px;
      height: 2px;
      position: relative;
      background: var(--bg-color-black);
      cursor: pointer;
      transition: background 0.2s ease-out;
    }

    .header__navicon::before,
    .header__navicon::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: var(--bg-color-black);
      transition: all 0.2s ease-out;
    }

    .header__navicon:before {
      top: 7px;
    }

    .header__navicon:after {
      top: -7px;
    }
  }

  .header__nav {
    top: -100vh;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: 1;

    .header__nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 400;
      font-size: 17px;
      letter-spacing: 0;
      gap: 20px;
      list-style-type: none;
      padding: 10px 0 20px;
      .header__nav-item {
        padding: 10px 15px;
        & a {
          position: relative;
          display: inline-block;
        }

        .header__nav-link {
          text-decoration: none;
          color: var(--text-color);
          font-size: 16px;
        }

        .header__nav-link:hover {
          color: var(--text-brend);
          cursor: pointer;
        }
      }
    }
  }
}

.header.nav-visible .header__nav {
  top: 70px;
}

.header.nav-visible .header__background,
.header.nav-visible .header__nav {
  background: var(--bg-color-white);
}

.header.nav-visible .header__navicon {
  background: transparent;
}

.header.nav-visible .header__navicon::before {
  transform: rotate(-45deg);
}

.header.nav-visible .header__navicon::after {
  transform: rotate(45deg);
}

.header.nav-visible .header__navicon::before,
.header.nav-visible .header__navicon::after {
  top: 0;
}

@media (min-width: 290px) {
  .header {
    .header__logo {
      font-size: 26px;
    }
  }
}

@media (min-width: 425px) {
  .header {
    .header__logo {
      padding: 20px 24px;
      font-size: 38px;
      .header__logo-link {
        .header__keys {
          kbd {
            font-size: 38px;
          }
        }
      }
    }
  }

  .header.nav-visible .header__nav {
    top: 90px;
  }
}

@media (min-width: 990px) {
  .header {
    flex-direction: column;
    .header__nav {
      display: block;
    }

    .header__logo {
      padding: 20px 0;
      text-align: center;
    }

    .header__menu-btn {
      display: none;
    }

    .header__nav {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-left: auto;
      order: 2;
      gap: 8px;
      height: auto;

      .header__nav-list {
        flex-direction: row;
        font-size: 15px;
        gap: 4px;
      }
    }
  }
}
