.paglewaters {
  text-align: center;
  background-color: var(--background-dark-color);
  padding-top: 75px;
  padding-bottom: 75px;
}
.paglewaters__title {
  font-size: 32px;
  color: var(--text-color);
  padding-bottom: 28px;
}
.paglewaters__blue-text-title {
  font-size: 32px;
  color: var(--text-brend);
}
.paglewaters__text {
  font-size: 18px;
  color: var(--text-color);
  margin-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.paglewaters__dots {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 36px;
  height: 5px;
  margin-bottom: 30px;
  .paglewaters__dots__dots-decoration {
    background-color: var(--text-brend);
    width: 5px;
  }
}