.our-fleet__section {
    background-color: var(--background-dark-color);
    display: flex;
    justify-content: center;
    padding: 75px 24px 85px 24px;
}
    .our-fleet__title {
      color: var(--text-color);
      font-size: 30px;
      padding-bottom: 22px;
    }