.testimonials {
  background-image: url(../image/main.testimonials/background.png);
  background-size:cover;
  background-position: center;
  width: 320px;
  padding-top: 70px;
  padding-bottom: 85px;
}

.testimonials__container {
  text-align: center;
  width: 320px;
  color: var(--text-color);
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.testimonials__client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}

.testimonials__clients img {
  width: 100px;
  height: auto;
}

.testimonials h2 {
  font-size: 30px;
}

.testimonials h3 {
  font-size: 21px;
  margin-top: 20px;
}

.client__text {
  margin-top: 20px;
}

.testimonials__button-left {
  width: 20px;
}

.testimonials__button-right {
  width: 20px;
}