.join-us {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/main.join-us/join-us-baner.webp);
  background-position: center;
  padding: 130px 24px;

  .join-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .join-us__title {
    font-size: 46px;
    font-weight: 400;
    color: var(--text-color-light);
    text-align: center;
    max-width: 820px;
  }

  .join-us__description {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color-light);
    text-align: center;
    padding-top: 30px;
  }

  .join-us__btn {
    margin-top: 35px;
  }
}

@media (min-width: 425px) {
  .join-us {
    .join-us__title {
      font-size: 68px;
    }
  }
}

@media (min-width: 768px) {
  .join-us {
    padding: 250px 24px;

    .join-us__title {
      font-size: 75px;
    }
  }
}

@media (min-width: 990px) {
  .join-us {
    padding: 250px 32px;

    .join-us__title {
      font-size: 90px;
    }
  }
}
