.container {
  width: 80%;
  margin: 0 auto;
}

.carousel-photos_title {
  text-align: center;
  font-size: 34px;
}

.carousel-photos_title-decore {
  display: flex;
  justify-content: space-between;
  width: 36px;
  height: 5px;
  margin: 10px auto 20px;
}

.decore__item {
  width: 5px;
  background-color: rgb(82, 172, 254);
}
.carousel-photos__arrow-left {
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgb(38, 58, 79);
  border-radius: 50%;
}

.carousel-photos__arrow-right {
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgb(38, 58, 79);
  border-radius: 50%;
}

.carousel-photos__carousel-slides {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-photos-slide {
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0;
  margin: 0;
}

.carousel-photos__slide-image {
  width: 100%;
  height: 349.98px;
  max-width: 390px;
  display: block;
  object-fit: cover;
}

.carousel-right,
.carousel-left {
  cursor: pointer;
  padding: 10px;
}

@media (max-width: var(--md-width-size)) {
  .container {
    width: 100%;
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 var(--content-padding-md-xs);
  }

  .carousel-photos__carousel-slides {
    display: block;
    text-align: center;
  }

  .carousel-photos-slide {
    width: 100%;
    margin-bottom: 10px;
  }

  .carousel-photos__slide-image {
    height: 349.98px;
    max-width: 425px;
  }
}

@media (min-width: var(--md-width-size)) {
  .carousel-photos__slide-image {
    max-width: 768px;
  }
}

@media (min-width: var(--lg-width-size)) {
  .carousel-photos__slide-image {
    max-width: 990px;
  }
}
