.gallery {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 85px;
  min-width: 320px;
  line-height: 1.5;
  word-wrap: break-word;
  z-index: 1;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
  row-gap: 50px;
  margin-top: 40px;

  .gallery__item {
    padding: 0 15px;
    max-width: 100%;
    padding-left: calc(var(--grid-gap) / 2);
    padding-right: calc(var(--grid-gap) / 2);
  }
}

@media (min-width: 990px) {
  .gallery__images {
    row-gap: 30px;
  }
}

.gallery__images-inner {
  width: calc(100% + var(--grid-gap));
  margin-left: calc(var(--grid-gap) / -2);
  margin-right: calc(var(--grid-gap) / -2);
}

.item .item__inner {
  padding: 25px !important;
  justify-content: flex-start;
  background-color: var(--background-dark-color);
}

.gallery__footer {
  margin-top: 50px;
}
