.book-now {
  padding: 95px 0;
  text-align: center;
}
.book-now__paragraph {
  font-size: 32px;
  padding-bottom: 28px;
  color: #263a4f;
}
.book-now__countdown {
  padding-left: 32px;
  padding-right: 32px;
}
.book-now__countdown-description {
  font-size: 27px;
  color: #263a4f;
  margin-top: 20px;
}
.book-now__expire-date {
  font-size: 18px;
  color: #263a4f;
  margin-top: 30px;
}
.book-now__get-deal-btn {
  display: inline-block;
  font-size: 14px;
  padding: 7px 25px;
  margin-top: 50px;
  border: 2px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--text-brend);
  color: white;
  border-radius: 3px;
  height: 42px;
  width: 134px;
}
.book-now__get-deal-btn:hover {
  background-color: var(--text-color);
}
.book-now__dots {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 36px;
  height: 5px;
  margin-bottom: 30px;

  .book-now__dots-decoration {
    background-color: var(--text-brend);
    width: 5px;
  }
}
