.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__logo {
    font-family: "Francois One", sans-serif;
    font-size: 38px;
    font-weight: 400;

    .header__logo-link {
      color: var(--text-color);
      text-decoration: none;
    }

    .header__logo-subtext {
      color: var(--text-brend);
    }
  }

  .header__nav-btn-mobile {
    padding-right: 24px;
  }

  .header__nav-btn-mobile > span {
    cursor: pointer;
  }

  .header__nav-btn-mobile > span:hover {
    opacity: 0.5;
  }

  .header__nav {
    .header__nav-list {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 10px 0 20px;

      .header__nav-item {
        padding: 10px 15px;

        .header__nav-link {
          text-decoration: none;
          color: var(--text-color);
          font-size: 16px;
        }

        .header__nav-link:hover {
          color: var(--text-brend);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 989px) {
  .header__nav {
    display: none;
  }

  .header__logo {
    padding: 20px 24px;
  }
}

@media (min-width: 990px) {
  .header {
    flex-direction: column;

    .header__logo {
      padding: 20px 0;
      text-align: center;
    }

    .header__nav-btn-mobile {
      display: none;
    }
  }
}
