.classes {
  background-color: #263a4f;
  color: white;
  text-align: center;
  padding: 150px 0;
}

.classes__button {
  color: #14b369;
  margin: 0 auto;
  display: block;
  background-color: var(--text-brend);
  height: 70px;
  width: 190px;
  font-size: 14px;
  
  padding: 7px 25px;
  margin-top: 50px;
  border: 2px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--text-brend);
  color: white;
  border-radius: 3px;
  height: 42px;
  width: px;
}
