.membership-permissions {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-white);
  padding: 90px 24px;
}

.membership-permissions__title {
  text-align: left;
  font-size: 30px;
  color: var(--text-color);
}

.membership-permissions__dots-decoration-container {
  margin-top: 10px;
  width: 36px;
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.membership-permissions__dots-decoration {
  height: 5px;
  width: 5px;
  border: 0;
  padding: 0;
  background-color: var(--text-brend);
}

.membership-permissions__paragraph {
  color: var(--text-color-light-grey);
  margin-top: 18px;
}

.membership-permissions__button {
  display: inline-block;
  font-size: 14px;
  padding: 7px 25px;
  margin-top: 50px;
  border: 2px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--text-brend);
  color: white;
  border-radius: 3px;
  height: 42px;
  width: 134px;
}
.membership-permissions__button:hover {
  background-color: var(--text-color);
}

.membership-permissions__photo-container {
  margin-top: 50px;
}

.membership-permissions__fisherman_photo {
  max-width: 100%;
}

@media (min-width: 768px) {

  .membership-permissions {
    flex-direction: row;
  }

  .membership-permissions__photo-container {
    padding-left: 30px;
    margin-top: 0;
    max-width: 50%;
  }

  .membership-permissions__text-n-button-cointainer {
    max-width: 50%;
  }
}